{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>PrediCor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
  
  <!-- CSS global -->
  <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>

  <!-- NAVBAR UNIVERSAL -->
   <!-- ======= NAVBAR ======= -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar__left">
        <a href="{% url 'page-landing' %}" class="navbar__logo">
          <img src="{% static 'images/logo.png' %}" alt="Logo Clínica"/>
        </a>
      </div>

      <div class="navbar__center">
        <a href="{% url 'home' %}"
           class="{% if request.path == '/' %}active{% endif %}">
          Home
        </a>
      </div>

      <div class="navbar__right">
        <div class="navbar__perfil">
          <img src="{% static 'images/default-avatar.png' %}" alt="Avatar Médico"/>
          <div class="perfil__texto">
            {% if user.is_authenticated %}
              Dr. {{ user.last_name }}
            {% else %}
              Invitado
            {% endif %}
            <br/>
            <span>Cardiólogo</span>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- CONTENIDO PRINCIPAL -->
  <main>
    {% block content %}{% endblock %}
  </main>

</body>
</html>
